.container{
    width: 50%;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.create--submit-button{
    color: white;
    font-size: 20px;
    border-radius: 100px;
    background-color: #218FFE;
}

.create--rating{
    font-size: 20px;
}

.warning{
    color: red;
}