.login--main{
    font-family: Rubik, Poppins, Arial, Helvetica;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.login--main > h1{
    font-weight: 900;
    margin-bottom: -0.25em;
}
.login--label{
    font-weight: 600;
    font-size:large;
}

.login--input{
    height: 3em;
    width: 25em;
    border-radius: 10px;
    background-color: rgb(163, 130, 245, 0.3);
    border-color: #A382F5;
}

.login--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.login--button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5em;
}

.button--reset{
    height: 3em;
    width: 100%;
    border: none;
    border-radius: 100px;
    background-color:#BC2323;
    font-weight: 900;
    color: #F4F4F4;
    font-size: larger;
}

.button--login{
    height: 3em;
    width: 100%;
    margin-left: 0.5em;
    border: none;
    border-radius: 100px;
    background-color:#A382F5;
    font-weight: 900;
    color: #F4F4F4;
    font-size: larger;
}
.nomember--text{
    display:flex;
    font-weight: 100;
}

.text--signup{
    color: #218FFE;
    text-decoration: underline;
    padding-left: 0.5em;
}

.text--forget{
    color: #218FFE;
    padding-top: 1em;
    margin: auto;
}

.password{
    display: flex;
    width: 100%;
}

.input--section{
    margin: auto;
    margin-left: 0em;
    margin-top: 1em;
}

.error--text{
    color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
}

#hideEye{
    display: none;
    position:relative;
    top: 0.5em;
    right: 2.25em;
    margin-right: -2.25em;
}

#showEye{
    position:relative;
    top: 0.5em;
    right: 2.25em;
    margin-right: -2.25em;
}

#hideEyeConf{
    display: none;
    position:relative;
    top: 0.5em;
    right: 2.25em;
    margin-right: -2.25em;
}

#showEyeConf{
    position:relative;
    top: 0.5em;
    right: 2.25em;
    margin-right: -2.25em;
}